.hide {
  display: none;
}
 body {
   margin: 0;
   height: 100vh;
   width: 100vw;
   display: flex;
   flex-direction: column;
   background: radial-gradient(#0d8209,#14de0d,#0d8209);
   justify-content: center;
   align-items: center;
 }
 .game {
   display: flex;
   justify-content: center;
   margin: 0;
   height: 100vh;
   width: 100vw;
 }
h1 {
  text-align: center;
  font-size: calc(70px + 50 * ((100vw - 600px)/1000));
  font-family: sans-serif;
  font-style: italic;
  margin-bottom: 20px;
}

p {
  font-variant: small-caps;
  font-style: italic;
  font-size: calc(25px + 50 * ((100vw - 600px)/1000));
  text-align: center;

}


button {
  background: linear-gradient(#fac000,#fa0000);
  color: white;
  display: block;
  margin:auto;
  font-size: calc(50px + 30 * ((100vw - 600px)/1000));
  border-radius: 30%;
  padding: 1em;
  margin-top: 1em;
}
.car {
  position: absolute;
  background-image:url('CAR.png');
  background-size: contain;
  width: 90px;
  height: 160px;
  bottom: 10px;
  z-index: 1;
}

.gameArea {
  position: absolute;
  bottom: 0;
  justify-content: center;
  border-left: 5px solid lightgrey;
  border-right: 5px solid lightgrey;
  background-color: #151919;
  width: 300px;
  height: 95vh;
  margin: auto;
}

.line {
  position: absolute;
  height: 5vh;
  width: .80vw;
  left: 66%;
  background-color: white;
}
.line2 {
  position: absolute;
  height: 5vh;
  width: .80vw;
  left: 33%;
  background-color: white;
}

.potholes {
  position: absolute;
  height: 65px;
  width: 65px;
  background: radial-gradient(#000101, #4B5555);
  border: 3px solid #4B5555;
  border-radius: 50%;
}

.mileadge {
  position:absolute;
  font-size: calc(25px + 30 * ((100vw - 600px)/1000));
  padding: 15px 100px 15px 100px;
  top:0;
  border: 3px solid white;
  background-color: black;
  color: white;
  text-align: center;
  z-index: 2;
}
.deathScreen {
  margin: 0;
  text-align: center;
  color: white;
}
.respawn {
  font-size: 2em;
}
.intro {
  font-size: calc(30px + 30 * ((100vw - 600px)/1000));
  font-variant: normal;
  font-style: normal;
  text-align: center;
  color: white;
  background: linear-gradient(0.15turn, #3700ff, #0066ff, #3700ff);
  width: 75vw;
  border: 1px solid white;
  padding: 20px;
  margin: auto;
}
#result {
  font-variant: normal;
  font-style: normal;
  margin: 150px 20px 50px 20px;
  background: linear-gradient(#0d00ff,#a200ff,#0d00ff);
  border: 1px solid white;
  padding: 20px;
  font-size: calc(35px + 30 * ((100vw - 600px)/1000));
  font-family: serif;
}
